//Base

@base-color: #41a0cd;

@base-color-hover: darken(@base-color,10%);

@sub-color: #cfd0d2;

@base-bgColor: #eee;

@base-min-width: 1420px;

@base-min-height: 750px;

@base-padding: 15px;

@base-border-radius: 20px;

@base-font-color: #3a3e55;

@base-font-size: 14px;

@large-font-size: 16px;

@larger-font-size: 18px;

@base-font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

@btn-border-color: #ccc;

@success-color: #00df66;

@success-color-hover: darken(@success-color,10%);

@base-transition: all .1s ease-in-out;

@bold-font: bold;

@board-color: #fff;

@base-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

// Color

@panel-bgColor: #fafafa;

@panel-border-color: #e5e5e5;

@submenu-selected-bgColor: #999999;

@div-stress-color: #1c5ec3;

@hover-bgColor: #eee;

@cat-item-color: #666;

@cat-item-hover-color: #fff;

@page-color: #666;

// Path

@img-dir: '/Content/Images/';

// Size

@panel-height: 40px;

@panel-input-height: 30px;

@content-height: 850px;

@cat-panel-width: 260px;

@submenu-width: 202px;

@cat-item-height: 60px;

// table & csgrid

@table-thead-bgColor: #eee;

@table-thead-border-color: #fff;

@table-thead-height: 40px;

@table-cell-padding: 8px;

@table-td-padding: 20px;

@table-bg-accent: #fbfcfe;

@table-bg-hover: #fbfcfe;

@table-border-color: #eee;

@table-margin-bottom: 20px;

@table-nodata-height: 80px;

@csgrid-icon-width: 140px;

@csgrid-icon-height: 80px;

@csgrid-item-height: 120px;

@csgrid-name-height: 44px;

@csgrid-name-margin-bottom: 16px;

@csgrid-sub-height: 20px;

@csgrid-more-width: 70px;

// Scrollbar

@scrollbar-width: 10px;

@scrollbar-thumb-bgColor: #a6a6a6;